/* Elemente */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color:rgb(235, 235, 235);
}
h1 {
  text-align: center;
}
/* Klassen */
.fullscreen{
  min-height: 100vh;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.big{
  height: 80vh;
  min-width: 80vw;
}
.card-image{
  background-image: url("./img/brainbg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.question-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,0.4);
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
}
.answerbutton{
  width: 50%;
  display: flex;
  align-items: center;
}
.answer{
  width: 100%;
  text-align: center;
}
.quiz-answer:hover{
  cursor: pointer;
  background-color:rgba(22, 22, 22, 0.2);
}
.d-none{
  display: none;
}
.pointer{
  pointer-events: none;
}
/* ID's */
/* Mobile View 1000px*/
@media (max-width: 800px) {
}